.header {
   display: flex;
   justify-content: space-between;
   height: 100px;
}
.signUp {
   border-radius: 50px;
   margin-left: 15px;
   background-color: #f91944;
   border: none;
   outline: none;
   padding: 5px 20px;
   color: #fff;
   text-align: center;
   height: 35px;
}
.signUp:hover {
   background-color: #d40e36;
}
.login {
   border-radius: 50px;
   margin-left: 15px;
   outline: none;
   padding: 5px 20px;
   color: #000;
   text-align: center;
   height: 35px;
   background-color: #fff;
   border: none;
}
.fontAwesome {
   font-size: 20px;
   color: rgb(77, 73, 73);
}
.icon-span {
   color: #000;
   text-decoration: none;
   font-size: 20px;
   color: red;
   border-radius: 50px;
   padding: 5px;
   position: relative;
   top: -10px;
   font-weight: bold;
   border: 1px solid lightgray;
}

@media screen and (max-width: 480px) {
   .header {
      flex-direction: column;
      justify-content: center;
      height: 100px;
      width: 100%;
   }
}
